header {
    height: 0;
  //  background-color:rgba(200,0,0,0.2);
    position: absolute;
    width: 100%;
    height:100px;
    transition: transform 1s;
    #logo {
        width:61.8%;
        z-index: 2;
        margin: -2% auto;
        position: relative;
    }
    
    #laurel { // tagline
        color: #fff;
        position: relative;
        text-align: center;
        width: 100%;
        padding: 5px;
        display: inline-block;
       
    }
    
}
header.horizontal{
   // background-color:rgba(0,200,0,0.2);
    transform: rotate(0deg);
    transform: scale(100vh);
    #laurel{
        font-size:1.618033vh;
        
    }
    #logo {
        width:61.8033vh;
        margin: -2vh auto;
        
    }
}
header.horizontal.maxed #logo{
    background-color:rgba(0,0,200,0.3);
    transform:  translatex(25vw) ;
    width:38%;

   
    
}
header.horizontal.maxed #laurel {
    transform:   translatex(50vw) ;
    font-size:2.38vh;
    width:50%;
    
}

header.vertical{
    //background-color:rgba(0,200,0,0.1);
    transform: rotate(0deg);
    transform: scale(100vw);
    #laurel{
        font-size:1.618033vw;
    }
    #logo {
        width:61.8033vw;
        margin: -2vw auto;
    }
}
header.vertical.maxed #logo{
    background-color:rgba(0,0,200,0.3);

    
}
header.vertical.maxed #laurel {
    
    font-size:2.38vw;
}
